<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/node_modules/buzzingpixel-mission-control-frontend-core/vendor/mrclay/jsmin-php/tests" />
      </list>
    </option>
  </component>
</project>